@charset "UTF-8";
body { background-color: #333}
header, aside { margin: 1em auto; max-width: 1000px; }
a {
  display:block;
  border-bottom: 25px solid #93029c;
  padding: 0 1em;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  outline: 2px solid #93029c;
  color: #93029c;
  background-color: #fff;
}
aside { font-size: 3em; color: #fff;}
main { padding: 1em; max-width: 1000px; }
.visuallyhidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
